:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  /* Festive colors: */
  --wine-red: #c7375f;
  --bright-red: #d42d2f;
  --dark-green: #344d2f;
  --light-green: #77a047;
  --gold: #fac57d;
  --snow: #f0f4f7;
}

body {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 4rem;
}

.label { 
    width: 300px;
    height: 300px;
    border: 3px solid var(--wine-red);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: var(--dark-green);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

.label h2 {
    font-size: 2.5rem;
}

.label::before {
    content: '🎄';
    font-size: 3rem;
}

.label::after {
    content: '🤶🏼';
    font-size: 3rem;
}

.dashed-cut-line {
  border: 3px dashed black;
  padding: 4rem;
  position: relative;
}

.dashed-cut-line::before {
  content: '✁';
  font-size: 2.5rem;
  position: absolute;
  top: -2rem;
}


