html,
body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(247, 195, 9);
  --bg-color-word: #5134ff;
  --text-color-word: #fff;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1::after {
  background-color: var(--bg-color-word);
  color: var(--text-color-word);
  animation: switch-word-animation 5s infinite;
  margin-left: 0.2rem;
  padding: 0.1rem 0.5rem;
}

@keyframes switch-word-animation {
  0% {
    content: "coding";
  }
  33% {
    content: "reading";
  }
  34% {
    content: "knitting";
  }
  66% {
    content: "sleeping";
  }
  67% {
    content: "helping";
  }
  100% {
    content: "painting";
  }
}
