html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --search-border: #bbb;
  --search-focus-border: #3a71ca;
}

input:focus {
  width: 100%;
  border: #3a71ca 0.1rem solid;
}

input:focus::placeholder {
  color: transparent;
}

input {
  width: 30%;
  transition: width 1s ease-in-out;
}
