:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  /* Festive colors: */
  --color-red: #f00;
  --color-green: darkgreen;
  --color-gold: #ff0;
  --color-silver: #ccc;
}

input::placeholder {
  color: var(--color-green);
  font-size: 0.6rem;
}
