:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;

  /* Festive colors: */
  --color-red: #f00;
  --color-green: darkgreen;
  --color-gold: #ff0;
  --color-silver: #ccc;
  --color-blue: darkblue;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Main */
main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  height: 100%;
  width: 100%;
  place-items: center;
}

#wishlistControls {
  grid-area: right;
  background: var(--color-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#wishlistData {
  grid-area: left;
  background-image: url("./images/winter_landscape.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

form {
  padding: 3rem;
}

/* Small stylings */

input::placeholder {
  color: var(--color-green);
  font-size: calc(1rem + 0.2vw);
}

/* Label only visible for screen readers */
label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

ul {
  list-style: none;
  color: var(--color-blue);
  font-size: calc(1rem + 2vw);
  font-weight: bold;
  text-align: center;
  height: 50vh;
}

/* #backgroundImage {
  background-image: url("./images/parchment.svg");
  background-size: cover;
  background-position: center;
} */
